{% extends 'base.html' %}

{% block content %}
    <div class="text-center">

        <div class="m-5">
            <h4>Sign up</h4>
        </div>
        <div>
            <form action="{% url 'accountapp:create' %}" method="post"> #action요청보낼경로
                {% csrf_token %}
                {{ form }} #단순출력
                <div class="m-5">
                    <input type="submit" class="btn btn-dark rounded-pill px-5"> #버튼만들기
                </div>

            </form>
        </div>
    </div>


{% endblock %}