.soon_head_logo{
    margin: 2rem 0; font-family: 'Arvo', serif;
}

.soon_head_button{
     margin-bottom: 2rem;
}

.soon_footer_logo{
     margin: 1.5rem 0; font-family: 'Arvo', serif;
}

.soon_footer_button{
     margin-top: 1.5rem
}

.mw-500{
    max-width: 500px;
    padding: 1rem 1.5re;
}