.soon_head_logo{
    margin: 2rem 0; font-family: 'Arvo', serif;
}

.soon_head_buttom{
     margin-bottom: 2rem;
}

.soon_footer_logo{
     margin: 1.5rem 0; font-family: 'Arvo', serif;
}

.soon_footer_buttom{
     margin-top: 1.5rem
}